

.computadoras-container-2{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.productos-computadoras{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 10px;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

div p{
    margin: 10px;
}
.subtitulo{
    font-size: 18px;
    margin-bottom: 10px;
}

.contenedor-product{
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.contenedor-product-2{
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

img{
    width: 100%;
    height: auto;
}