.computadoras-container-2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    padding: 20px;
}

.productos-computadoras{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h1.titulo-computadoras{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

div p{
    margin: 10px;
}
.subtitulo{
    font-size: 18px;
    margin-bottom: 10px;
}

.contenedor-product{
    border: 2px solid rgba(255, 255, 255, 0.068);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;

}

.contenedor-product-2{
    border: 2px solid rgba(255, 255, 255, 0.068);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;

}

img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    height: auto;
    margin: 15px 0;
}

.agregarCarrito{
    background-color: #e90808;
    color: #ffffff;
    margin-top: 20px;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.agregarCarrito:hover{
    background-color: #b30606;
}