@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');
@import "tailwindcss";


html, body, #root {
    height: 100%;
}
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background: #eeeeee;
    --nav-link-color: #000000;
}

.dark-mode {
    --background-color: #383535;
    --text-color: #666060;
    --header-background: #5e5858;
    --nav-link-color: #494242;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    
}
.nav {
    background-color: var(--header-background);
}
.nav a {
    color: var(--nav-link-color);
}
.category-item {
    background-color: var(--header-background);
    color: var(--text-color);
}

.category-item h3 {
    color: var(--text-color);
}

.category-item .arrow-container {
    background-color: var(--background-color);
}
.category-item:hover .arrow-container {
    background-color: var(--header-background);
}
.category-item .arrow-icon {
    color: var(--text-color);
}
.nav .boton-logout {
    background-color: transparent;
    border: 1px solid #000;
}
.boton-logout {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid #000;
}
.productos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 20px;
    justify-items: center;
}
.cursor-pointer {
    cursor: pointer;  
    background-color: var(--nav-link-color);
    color: var(--text-color);
    text-align: left;
    border: 2px solid #818181; 
    padding: 1px;
    border-radius: 8px; 
}
.carrusel-image {
    width: 100%;
    height: auto;
    border-radius: 8px; 
}